<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="bg-white p-3 rounded mt-4 mb-4">
                <div class="form-group">
                    <label for="tudoItem">Enter Tudo</label>
                    <input type="text" class="form-control" id="tudoItem" #tudoInput>
                </div>

                <button *ngIf="!isEditMode" (click)="onSubmit()" class="btn btn-block" mat-raised-button
                    color="primary">Add
                    Tudo</button>
                <button *ngIf="isEditMode" (click)="onUpdate()" mat-raised-button color="primary"
                    class="btn btn-block">Update Tudo</button>
            </div>

            <div>
                <ul *ngIf="tudoArr.length > 0 else tudoEmpty" class="list-group">
                    <li *ngFor="let tudo of tudoArr"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>{{tudo.tudoItem}}</strong>
                        <div>
                            <button (click)="onEdit(tudo)" class="btn btn-sm mr-2"mat-stroked-button color="primary">Edit</button>
                            <button (click)="onRemove(tudo.tudoId)" class="btn btn-sm" mat-stroked-button color="warn">Remove</button>
                        </div>
                    </li>
                </ul>

                <ng-template #tudoEmpty>
                    <p class="alert alert-danger">
                        <strong>No tudos available</strong>
                    </p>
                </ng-template>
            </div>
        </div>
    </div>

</div>