<div class="row">

    <div class="col-md-3">
        <div class="card-body">
            <div class="img-container">
                <img *ngIf="mobile.image; else noImage" [src]="mobile.image" alt="" class="img-fluid w-100">
                <ng-template #noImage>
                    <p class="noProImg">
                        no product image
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h3>{{mobile.name}}</h3>
        <ul class="list-group">
           <li class="list-group-item">{{mobile.name}}</li>
           <li class="list-group-item">{{mobile.brand}}</li>
           <li class="list-group-item">{{mobile.price | currency}}</li>
           <li class="list-group-item">isAvailable : {{mobile.isAvailable}}</li>
           <li class="list-group-item">Quantity : {{mobile.noOfItems}}</li>


        </ul>
    </div>
    <div class="col-md-2">
        <span class="p-1"
        [ngClass] = "{

            'badge badge-success' : mobile.rating > 4 ,
             'badge badge-warning': mobile.rating >= 3 && mobile.rating < 4,
             'badge badge-danger': mobile.rating < 3
            
        }"
        >{{mobile.rating}}</span>
    </div>


</div>